<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing BBC.com" parallel="classes">
    <test name="Task 1 - Check the article">
        <classes>
            <class name="tests.CheckTheArticle"/>
        </classes>
    </test>
    <test name="Task 2 - Check the secondary article titles">
        <classes>
            <class name="tests.CheckSecondaryArticleTitles"/>
        </classes>
    </test>
    <test name="Task 3 - Check the category link of the first headline article">
        <classes>
            <class name="tests.CheckTheCategoryLinkOfTheFirstHeadlineArticle"/>
        </classes>
    </test>
</suite>